// I wanted to use the .sass format, but there's apparently
// absolutely no way to get VSCode's builtin color picker to work with it :(((

#real-header-not-react-one {
    height: 2.5rem
}

nav {
    z-index: 10;
    position: fixed;
    top: -2.1rem;
    left: 1vw;
    width: 98vw;
    background-color: rgba(43,114,35,.7);
    border-radius: 3px;
    border-style: solid;
    border-color: #0e62a7;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    transition: all 1s ease;
    &:hover {
        top: -.1rem;
    }
}

.navlink {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30pt;
    text-decoration: none;
    // background-color: rgba(147, 158, 25, 0.329);
    background-image: 
        radial-gradient(ellipse at center, rgba(149, 158, 25, 0.66) 1%,rgba(149, 158, 25, 0) 100%);
    color: #203;

    transition: color .8s ease, background-image 1s ease;

    &:hover {
        background-image: 
            radial-gradient(ellipse at center, rgba(15, 92, 44, 1) 1%,rgba(15, 92, 44, 0) 100%);
        color: #41c2b9;
        // background-color: #203;
        // font-size: 48px;
        text-shadow: 12px 12px 3 #0c3150
    }
}

// .beneath-nav-bar {
//     position: absolute;
//     top: 48px;
//     width: 100vw
// }

// #all-beneath-header {
//     background-color: #08141f;
//     color: rgb(240, 196, 3)
// }

#about-academy {
    // background-color: #010214;

    // * {
    //     color: #61f1f1;
    // }

    #academy-name, #blurb, h2, #mission {
        text-align: center;
    }

    #academy-name {
        font-size: 42px
    }

    #blurb {
        font-size: 30px
    }

    h2 {
        font-size: 36px
    }

    #mission-statement {
        display: flex;
        flex-wrap: true;
        justify-content: center;
        font-size: 1.5rem
    }

    #false-mission {
        text-decoration: line-through
    }

    #note-to-self {
        font-style: italic
    }
        
}

#campus-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    // background-color: #19191a;
    // background-image: url('/img/space.jpg');
    // background-size: cover;
    // background-blend-mode: color-dodge;
    margin: 0;
    
    list-style-type: none;

    .link-to-campus {
        // display: flex;
        // flex-direction: column;
        // height: 20vh;
        // width: 20vw;
        text-decoration: none;

        // img {
        //     height: 80%;
        //     width: 80%;

        //     transition: all 1s ease; // this looked so bad lmao

        //     &:hover {
        //         height: 80%;
        //         width: 100%
        //     }
        // }

        h2 {
            min-width: 0;
            opacity: 1;
            // background-color: rgba(13,3,22,.7);
            background-image:
                linear-gradient(to right, rgba(13,3,22,0) 0%,rgba(13,3,22,.7) 50%,rgba(13,3,22,0) 100%);
            font-size: 32pt;
            // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: rgb(30, 180, 180);
            text-align: center;
            // text-decoration: none; // must be on the <a> element
            transition: all 1s ease;
        }

        &:hover h2 {
            background-image:
                radial-gradient(ellipse at center, rgb(146, 35, 87) 1%, rgba(35, 73, 132, 0) 85%);
            color: rgb(119, 196, 19);
            // text-decoration: 
        }
    }
}

#space-img {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -1
}


#selected-campus-name {
    font-size: 48px;
    text-align: center
}

#selected-campus-description {
    font-size: 24px;
}

#student-list-ctrls {
    display: flex;
    justify-content: flex-end
}

#create-student-btn {
    font-size: 1.5rem
}

#student-table-col-names {
    border-style: solid;
    display: flex;
    justify-content: space-around
}

#student-table-rows {
    border-style: solid;
    left: 5vw;
    width: 90vw;
    display: flex;
    flex-direction: column;
    list-style-type: decimal
}

.student-table-row {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    border-style: solid;
    border-width: 1px;
    border-color: #808080
}

.student-table-cell {
    border-style: solid;
    border-width: 1px;
    border-color: #808080;
    width: 25%
}

#student-info {
    text-align: center;
    // background-color: #08141f;
    // color: rgb(240, 196, 3)
}

#selected-student-campus-pic {
    height: 50%;
    width: 50%
}

#joke-question, #joke-answer {
    font-family:"Comic Sans MS", "Comic Sans", "Comic Neue", sans-serif, cursive;
}

#joke-intro {
    text-align: center;
    font-size: 1.5rem
}