// I wanted to use the .sass format, but there's apparently
// absolutely no way to get VSCode's builtin color picker to work with it :(((

nav {
    background-color: #23953f;
    border-width: 3px;
    border-color: #0e62a7;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.navlink {
    font-size: 36px;
    transition: all 1s ease;

    &:hover {
        font-size: 48px;
        text-shadow: 12px 12px 3 #0c3150
    }
}

#about-academy {
    // background-color: #010214;

    * {
        // color: #61f1f1;
    }

    #academy-name, #blurb, h2, #false-mission, #true-mission {
        text-align: center;
    }

    #academy-name {
        font-size: 42px
    }

    #blurb {
        font-size: 30px
    }

    h2 {
        font-size: 36px
    }

    #false-mission {
        font-size: 18px;
        text-decoration: line-through
    }

    #true-mission {
        font-size: 24px;
    }

    #note-to-self {
        font-style: italic
    }
        
    #joke-question, #joke-answer {
        font-family:"Comic Sans MS", "Comic Sans", "Comic Neue", sans-serif, cursive;
    }
}